body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#timer{
    margin-top: 40vh;
    color:white;
    font-size: 4rem;
    font-family: 'Poppins', sans-serif;
}
#clock{
    color:white;
    font-size: 3em;
    font-family: 'Chakra Petch', sans-serif;
    text-align: left;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 1.5vw;
    bottom: 1.5vh;
}
@media (max-width: 900px) {
    #timer{
        font-size: 5rem;
    }
    #clock{
        font-size: 3rem;
    }
}